// primary colors
$primary-text-color: #13182c; //Instock-Black:  Global text color
$interactive-elements: #0d7a79; // Instock-Indigo:  Interactive elements
$white-global: #ffffff; //White:  Global white color
$primary-background: #ffff;

// secondary colors
$table-colum-ph: #5c667e; //Slate
$divider: #bdc5d5; //Cloud
$white: #ffffff;
$text-dark: #bdc5d5;
//background colors
$bg-hover-header: #0d7a79; //Graphite
$bg-page: #f7f8f9; // Light-Grey
//supporting colors
$in-stock: #158463; //green
$out-stock-error: #c94515; //red


$bg-light: #303131;
$text-light: #161616;
$bg-dark: #161616;
$text-dark: #303131;

