@use "./pages/styles//global.scss" as *;
@use "./pages/styles//partials/colors" as *;
@use "./pages/styles//partials/mixins" as *;
@use "./pages/styles//partials/fonts" as *;
@use "./pages/styles//partials/variables" as *;

.app {
  display: flex;
  background-color: white;

  &__container {
    flex-grow: 1;
    padding: 1rem;
    transition: margin-left 0.3s ease;

    // Se aplica cuando el sidebar está minimizado
    &.minimized {
      margin-left: 60px;  // El mismo valor que minimizedDrawerWidth
    }

    // Se aplica cuando el sidebar no está minimizado
    &.expanded {
      margin-left: 240px;  // El mismo valor que drawerWidth
    }
  }
}
